@media screen and (min-width: 1000px) {
    .main__form {
        height: 523px;
        width: 71.155%;
        border: 1px solid #C7C7C7;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px #00000026;
        padding: 25px;
        box-sizing: border-box;
        position: relative;
    }
    .main__form_btn {
        border: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: 0.02em;
        font-family: "Inter";
        color: #C7C7C7;
        background-color: white;
        border-bottom: 2px solid #C7C7C7;
        min-width: 55%;
        height: 29px;
        cursor: pointer;
    }
    .active {
        color: #029491;
        border-bottom: 2px solid #029491;
        min-width: 40.054%;
    }
    .main__form_buttonbox {
        display: flex;
        justify-content: space-between;
    }
    .main__form_inputs {
        margin-top: 40px;
    }
    .main__form_input_text {
        color: #949494;
        margin-bottom: 15px;
    }
    .main__form_input {
        border: 1px solid #C7C7C7;
        height: 43px;
        width: 100%;
        box-shadow: 0px 0px 20px 0px #0000000D;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .main__form_submit {
        width: 100%;
        background-color: #5970FF;
        border-radius: 5px;
        height: 59px;
        color: white;
        font-size: 22px;
        border: none;
        font-weight: 500;
        line-height: 26.63px;
        letter-spacing: 0.02em;
        margin-top: 10px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .main__form_new_password {
        display: flex;
        justify-content: center;
        color: #5970FF;
    }
    .main__form_loginvia {
        display: flex;
        gap: 10px;
    }
    .main__form_lock {
        position: absolute;
        left: -55px;
        top: -50px;
    }
    .disabled {
        opacity: 0.5;
        cursor: default;
    }
    .main__form_input_dataerror {
        position: absolute;
        top: 274px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        letter-spacing: 0.01em;
        margin-left: 20%;
        color: #FF5959;
        display: block;
    }
    .main__form_input_error {
        border: 1px solid #FF5959;
    }
    .none {
        display: none;
    }
    .loader {
        width: 40px;
        height: 40px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}
@media screen and (min-width: 375px) and (max-width: 999px) {
    .main__form {
        height: 504px;
        width: 97%;
        border: 1px solid #C7C7C7;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px #00000026;
        padding: 25px;
        box-sizing: border-box;
        position: relative;
    }
    .main__form_btn {
        border: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: 0.02em;
        font-family: "Inter";
        color: #C7C7C7;
        background-color: white;
        border-bottom: 2px solid #C7C7C7;
        min-width: 63%;
        height: 29px;
        cursor: pointer;
    }
    .active {
        color: #029491;
        border-bottom: 2px solid #029491;
        min-width: 33%;
    }
    .main__form_buttonbox {
        display: flex;
        justify-content: space-between;
    }
    .main__form_inputs {
        margin-top: 40px;
    }
    .main__form_input_text {
        color: #949494;
        margin-bottom: 15px;
    }
    .main__form_input {
        border: 1px solid #C7C7C7;
        height: 43px;
        width: 100%;
        box-shadow: 0px 0px 20px 0px #0000000D;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .main__form_submit {
        width: 100%;
        background-color: #5970FF;
        border-radius: 5px;
        height: 59px;
        color: white;
        font-size: 22px;
        border: none;
        font-weight: 500;
        line-height: 26.63px;
        letter-spacing: 0.02em;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .main__form_new_password {
        display: flex;
        justify-content: center;
        color: #5970FF;
    }
    .main__form_loginvia {
        display: flex;
        gap: 10px;
    }
    .main__form_lock {
        position: absolute;
        left: 90px;
        top: -80px;
    }
    .disabled {
        opacity: 0.5;
        cursor: default;
    }
    .main__form_input_dataerror {
        position: absolute;
        top: 274px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        letter-spacing: 0.01em;
        margin-left: 20%;
        color: #FF5959;
        display: block;
    }
    .main__form_input_error {
        border: 1px solid #FF5959;
    }
    .none {
        display: none;
    }
    .loader {
        width: 40px;
        height: 40px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}