@media screen and (min-width: 1000px) {
.main__search {
    width: 60%;
    box-shadow: 0px 0px 20px 0px #00000033;
    border-radius: 10px;
    margin-top: 47px;
    display: flex;
    padding: 21px 39px 32px 44px;
    box-sizing: border-box;
    position: relative;
}
.main__search_firstblock {
    width: 50%;
}
.main__search_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.03em;
    margin-bottom: 3%;
}
.main__search_input {
    margin-bottom: 8%;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    width: 70%;
    height: 43px;
    margin-right: 20px;
    box-sizing: border-box;
}
::placeholder {
    text-align: center;
    opacity: 0.4;
}
.main__search_checkbox {
    margin-bottom: 15px;
    display: flex;
    gap: 17px;
    align-items: center;
}
.main__search_check {
    width: 20px;
    height: 20px;
    margin: 0;
}
label {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.03em;
}
.main__search_btn {
    margin-bottom: 10px;
    background-color: #5970FF;
    border-radius: 5px;
    border: none;
    color: #FFFF;
    width: 305px;
    height: 59px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.main__search_reqtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    color: #949494;
}
.main__search_btntextbox {
    position: absolute;
    right: 4%;
    bottom: 5%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 

}
.error {
    color: #FF5959;
    position: absolute;
    top: 43px;
    width: 70%;
    text-align: center;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("/img/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
}
.tonbox {
    max-width: 70%;
}
}
@media screen and (min-width: 375px) and (max-width: 999px) {
    .main__search {
        width: 100%;
        box-shadow: 0px 0px 20px 0px #00000033;
        border-radius: 10px;
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        padding: 24px 26px 37px 14px;
        box-sizing: border-box;
        position: relative;
    }
    .main__search_firstblock {
        width: 100%;
    }
    .main__search_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        letter-spacing: 0.03em;
        margin-bottom: 3%;
    }
    .main__search_input {
        margin-bottom: 8%;
        border: 1px solid #C7C7C7;
        border-radius: 5px;
        width: 100%;
        height: 43px;
        margin-right: 20px;
        box-sizing: border-box;
    }
    ::placeholder {
        text-align: center;
        opacity: 0.4;
    }
    .main__search_checkbox {
        margin-bottom: 15px;
        display: flex;
        gap: 17px;
        align-items: center;
    }
    .main__search_check {
        width: 20px;
        height: 20px;
        margin: 0;
    }
    label {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.78px;
        letter-spacing: 0.03em;
    }
    .main__search_btn {
        margin-top: 40px;
        background-color: #5970FF;
        border-radius: 5px;
        border: none;
        color: #FFFF;
        width: 100%;
        height: 59px;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.63px;
        letter-spacing: 0.03em;
        cursor: pointer;
    }
    .main__search_reqtext {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        letter-spacing: 0.03em;
        color: #949494;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; 
    
    }
    .error {
        color: #FF5959;
        position: absolute;
        top: 43px;
        width: 70%;
        text-align: center;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url("/img/arrow_down.svg");
        background-repeat: no-repeat;
        background-position: 100% center;
    }
    
}