@media screen and (min-width: 1000px) {
  .container {
    width: 95%;
    display: flex;
    margin: 27px auto 0 auto;
    height: 158px;
    border: 2px solid #029491;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.headings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #029491;
    color: #FFFFFF;
    padding: 0 2.154% 0 2.154% ;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.loaderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10%
}
.loader {
    color: rgba(0, 0, 0, 0.349);
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
.second_slider {
  width: 100%;
}
.second_slider .slick-list {
  display: flex;
  height: 100%;
}
.second_slider .slick-track {
  margin: 0;
  display: flex;

}
.second_slider .slick-slide > div {
  height: 100%;
}
.slider_item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  position: relative;
}
.slider_item::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  border-top: 2px solid #949494;
  border-right: 2px solid #949494;
}

.container_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.low {
  width: 100%;
}

}
@media screen and (min-width: 375px) and (max-width: 999px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 34px auto 0 auto;
    height: 298px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.headings {
    display: flex;
    height: 25%;
    justify-content: space-around;
    background-color: #029491;
    color: #FFFFFF;
    padding: 0 2.154% 0 2.154% ;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
}
.loaderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    flex-direction: column;
    gap: 10%
}
.loader {
    color: rgba(0, 0, 0, 0.349);
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
.second_slider {
  width: 100%;
}
.second_slider .slick-list {
  display: flex;
  height: 100%;
}
.second_slider .slick-track {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second_slider .slick-slide > div {
  height: 100%;
  width: 79vw;
}
.slider_item {
  display: flex !important;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  position: relative;
}
.slider_item::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  border-top: 2px solid #949494;
  border-right: 2px solid #949494;
}

.container_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.low {
  width: 100%;
}

}