@media screen and (min-width: 1000px) {
    .main {
        margin: 69px 8rem 10% 3.75rem;
        display: flex;
        gap: 1%;
    }
    .main__info_header {
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0.02em;
    }
    .main__info_img {
        margin: 13.9px 0 0 14%;
    }
}
@media screen and (min-width: 375px) and (max-width: 999px) {
    .main {
        margin: 31px 0 0 14px;
        display: flex;
        flex-direction: column;
        gap: 126px;
        position: relative;
        height: 1200px;
    }
    .main__info_header {
        font-size: 22px;
        font-weight: 900;
        line-height: 26.4px;
        letter-spacing: 0.02em;
    }
    .main__info_img {
        position: absolute;
        bottom: 37px;
    }
}