@media screen and (min-width: 1000px) {
    .header__authobox {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-self: end;
    }
    .header__regbtn {
        all: unset;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        letter-spacing: 0.01em;
        font-family: "Inter";
        color: #000000;
        opacity: 0.4;
        cursor: pointer;
    }
    .header__logbtn {
        all: unset;
        cursor: pointer;
        border-radius: 5px;
        background-color: #7CE3E1;
        color: black;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        letter-spacing: 0.01em;
        font-family: "Inter";
    }
    .header__userbox {
        display: flex;
        justify-content: space-between;
    }
    .header__user {
        display: flex;
    }
    .header__user_name {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }
    .header__user_btn {
        all: unset;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        margin-left: 50%;
        font-family: "Inter";
        opacity: 0.4;
        cursor: pointer;
    }
    .header__user_name_btn {
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
    }
}
@media screen and (min-width: 375px) and (max-width: 999px) {
    .header__authobox {
        display: none;
    }
    .header__user {
        display: none;
    }
}